{% extends 'base.html' %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh;">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{test}}</h3>
                        <p class="text-center"><strong>DBKI2306</strong></p>
                        <form>
                            <div class="form-group">
                                <!-- Removed input field for Group Code -->
                            </div>
                            <div class="form-group">
                                
                                <a href="{% url 'main:login' %}">
                                <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                            </a>
                                <button type="button" class="btn btn-secondary btn-block">REGISTER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}
